In [1]:
# Packages
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [2]:
# Make a map of league number code to league name
url = f'https://fbref.com/en/comps/0/history/'
page = requests.get(url)
#header = page.text.split('</h1>')[0].split('<h1>')[-1]
#' '.join(header.split('Seasons')[0].split('\t')[-1].split())
soup = BeautifulSoup(page.content, 'lxml')
while soup.find('tr', class_='thead') is not None:
    soup.find('tr', class_='thead').decompose()
table = soup.find('table', id = 'comps_1_fa_club_league_senior')
comps = pd.read_html(str(table))[0]
comps['CODE'] = [int(x['href'].split('/')[3]) for x in list(table.find_all('a', href = True)) if 'comps' in x['href']][0::3]
comps = comps.groupby('Gender').get_group('M')
comps['Country'] = comps['Country'].apply(lambda x: x.split()[-1])
comps['acyear'] = comps['First Season'].apply(lambda x: len(x) > 4)
comps['First Season'] = comps['First Season'].apply(lambda x: x[-4:]).astype(int)
comps = comps.rename(columns = {'Competition Name': 'Competition'}).reset_index(drop = True)
comps['title'] = comps['Country'] + ' ' + comps['Competition'].apply(lambda x: x.lower())
comps = comps[['Competition', 'title', 'Country', 'First Season', 'acyear', 'CODE']]
#comps.to_csv('competitions.csv', index = None)

In [3]:
from email.mime.text import MIMEText
from email.mime.application import MIMEApplication
from email.mime.multipart import MIMEMultipart
from smtplib import SMTP
import smtplib
import sys


recipients = ['ToEmail@domain.com'] 
emaillist = [elem.strip().split(',') for elem in recipients]
msg = MIMEMultipart()
msg['Subject'] = "Your Subject"
msg['From'] = 'from@domain.com'


html = """\
<html>
  <head></head>
  <body>
    {0}
  </body>
</html>
""".format(df_test.to_html())

part1 = MIMEText(html, 'html')
msg.attach(part1)

server = smtplib.SMTP('smtp.gmail.com', 587)
server.sendmail(msg['From'], emaillist , msg.as_string())

'                                  Competition                                          title Country  First Season  acyear  CODE\n0                  Argentine Primera División                 ARG argentine primera división     ARG          2014   False    21\n1                                A-League Men                               AUS a-league men     AUS          2006    True    65\n2                Austrian Football Bundesliga               AUT austrian football bundesliga     AUT          2004    True    56\n3                    Belgian First Division A                   BEL belgian first division a     BEL          2004    True    37\n4              División de Fútbol Profesional             BOL división de fútbol profesional     BOL          2015    True    74\n5               Campeonato Brasileiro Série A              BRA campeonato brasileiro série a     BRA          2014   False    24\n6          First Professional Football League         BUL first professional football league     BUL          2010    True    67\n7                     Canadian Premier League                    CAN canadian premier league     CAN          2019   False   211\n8                    Chilean Primera División                   CHI chilean primera división     CHI          2015    True    35\n9   Chinese Football Association Super League  CHN chinese football association super league     CHN          2014   False    62\n10                        Categoría Primera A                        COL categoría primera a     COL          2014   False    41\n11             Croatian First Football League             CRO croatian first football league     CRO          2008    True    63\n12                         Czech First League                         CZE czech first league     CZE          2010    True    66\n13                                  Superliga                                  DEN superliga     DEN          2004    True    50\n14                   Liga Profesional Ecuador                   ECU liga profesional ecuador     ECU          2014   False    58\n15                             Premier League                             ENG premier league     ENG          1889    True     9\n16                                    La Liga                                    ESP la liga     ESP          1989    True    12\n17                              Veikkausliiga                              FIN veikkausliiga     FIN          2003   False    43\n18                                    Ligue 1                                    FRA ligue 1     FRA          1996    True    13\n19                         Fußball-Bundesliga                         GER fußball-bundesliga     GER          1989    True    20\n20                        Super League Greece                        GRE super league greece     GRE          2001    True    27\n21                        Nemzeti Bajnokság I                        HUN nemzeti bajnokság i     HUN          2006    True    46\n22                            Indian I-League                            IND indian i-league     IND          2014    True   378\n23                        Indian Super League                        IND indian super league     IND          2014   False    82\n24                    Persian Gulf Pro League                    IRN persian gulf pro league     IRN          2015    True    64\n25                                    Serie A                                    ITA serie a     ITA          1989    True    11\n26                                  J1 League                                  JPN j1 league     JPN          2014   False    25\n27                                 K League 1                                 KOR k league 1     KOR          2014   False    55\n28                  Saudi Professional League                  KSA saudi professional league     KSA          2015    True    70\n29                                    Liga MX                                    MEX liga mx     MEX          2004    True    31\n30                                 Eredivisie                                 NED eredivisie     NED          2001    True    23\n31                                Eliteserien                                NOR eliteserien     NOR          2000   False    28\n32                Paraguayan Primera División                PAR paraguayan primera división     PAR          2014   False    61\n33               Liga 1 de Fútbol Profesional               PER liga 1 de fútbol profesional     PER          2014   False    44\n34                                Ekstraklasa                                POL ekstraklasa     POL          2003    True    36\n35                              Primeira Liga                              POR primeira liga     POR          2001    True    32\n36                                     Liga I                                     ROU liga i     ROU          2007    True    47\n37             South African Premier Division             RSA south african premier division     RSA          2015    True    52\n38                     Russian Premier League                     RUS russian premier league     RUS          2001   False    30\n39                       Scottish Premiership                       SCO scottish premiership     SCO          2001    True    40\n40                          Serbian SuperLiga                          SRB serbian superliga     SRB          2009    True    54\n41                         Swiss Super League                         SUI swiss super league     SUI          2004    True    57\n42                                Allsvenskan                                SWE allsvenskan     SWE          2001   False    29\n43                                  Süper Lig                                  TUR süper lig     TUR          2002    True    26\n44                   Ukrainian Premier League                   UKR ukrainian premier league     UKR          2004    True    39\n45                 Uruguayan Primera División                 URU uruguayan primera división     URU          2015    True    45\n46                        Major League Soccer                        USA major league soccer     USA          1996   False    22\n47                Venezuelan Primera División                VEN venezuelan primera división     VEN          2015    True   105'

In [30]:
from scraping import scraper

In [31]:
Scraper = scraper([2021], 23)
df = Scraper.fit()

KeyError: False

In [12]:
df.Date.max().strftime('%d %b')

'29 Sep'

In [27]:
a['CODE'][0]

9

In [28]:
import time

for i in range(10):
    print(f"Counting: {i}", end="\r")
    time.sleep(1)

In [43]:
# Scrape looped year's schedule
url = f'https://fbref.com/en/comps/23/2020-2021/schedule/'
soup = BeautifulSoup(requests.get(url).content, 'lxml') # Create a soup object from the webpage
while soup.find('tr', class_ = 'thead') is not None: # Decompose all headers
    soup.find('tr', class_ = 'thead').decompose()
if soup.find('table') is not None :
        
    data = pd.read_html(str(soup.find('table')))[0] # Read table in a dataframe
    data = data[data['Home'].notna()] # Remove headers
    if 'Notes' in data.columns:
        data = data[data['Notes'].isna()]
    data = data[['Date', 'Home', 'Away', 'Score']] # Only keep necessary columns
    data['Date'] = pd.to_datetime(data['Date']) # Turn dates into datetime format
    data['G_home'] = data['Score'].apply(lambda x: int(str(x).split('–')[0])  if (np.all(pd.notnull(x))) else x) # Set home goals
    data['G_away'] = data['Score'].apply(lambda x: int(str(x).split('–')[-1]) if (np.all(pd.notnull(x))) else x) # Set away goals

In [48]:
# Create list of teams competing this season
teams = sorted(list(set(data['Home'])))
homes, aways = [], [] # Initiate empty lists of home & away games
# For each team keep their games and compute the rolling -- with varying windows -- statistics
# Separate into home and away games
for tm in teams:
    print(tm)

    df = data.copy()[(data['Home'] == tm) | (data['Away'] == tm)].sort_values('Date').reset_index(drop = True) # Team results
    df['H'] = df['Home'] == tm # Differentiate home & away games
    df['A'] = df['H']    == False
    df['Team'] = len(df) * [tm] # Specify home team
    df['Opp'] = df['Home'] * df['A'] + df['Away'] * df['H'] # Specify name of opponent
    df['GF'] = df['G_home'] * df['H'] + df['G_away'] * df['A'] # Goals for
    df['GA'] = df['G_home'] * df['A'] + df['G_away'] * df['H'] # Goals against
    df['GD'] = df['GF'] - df['GA'] # Goal difference
    df['W'] = np.sign(df['GD']) # Win (1), Draw (0) or Loss (-1)
    df = df[['Date', 'Team', 'Opp', 'H', 'W', 'GF', 'GA', 'GD']] # Keep relevant columns
    df['PTS%'] = [np.nan] + list(np.cumsum(df['W'].apply(lambda x: {-1:0,0:1,1:3}.get(x))) / (3*(df.index + 1)))[:-1] # Calculate the % of max. PTS
    features = ['PTS%'] # Add it as a features
    for f in ['W', 'GF', 'GA', 'GD']: # Loop for all features
        for w in [1,2,5,10]: # and windows
            # Compute the lagged feature
            df[f'{f}_{w}'] = [np.nan] + list(df[f].rolling(w, min_periods = 1).mean())[:-1]
            features.append(f'{f}_{w}') # Add lagged features to features list
        # Compute the rolling mean for each feature
        df[f'{f}_inf'] = [np.nan] + list(df[f].rolling(1000, min_periods = 1).mean())[:-1]
        features.append(f'{f}_inf') # Add it again to the list of features
    df['Rest'] = [np.nan] + list(np.diff(df['Date']).astype(float) / (10**9) / (60 * 60 * 24)) # Compute the number of days of rest
    features.append('Rest') # Add to list of features
    df['Game'] = df.index + 1 # Specify the number of games played

    # Cluster home games and rename columns accordingly
    home = df.groupby('H').get_group(True)
    renameDict = {'Team': 'Home', 'Opp': 'Away'}
    for f in ['W', 'GF', 'GA', 'GD', 'Game'] + features:
        renameDict[f] = f'{f}_home'
    home = home.rename(columns = renameDict)
    # Cluster away games and rename columns accordingly
    away = df.groupby('H').get_group(False)
    renameDict = {'Team': 'Away', 'Opp': 'Home'}
    for f in ['W', 'GF', 'GA', 'GD', 'Game'] + features:
        renameDict[f] = f'{f}_away'
    away = away.rename(columns = renameDict)
    away = away.drop(columns = ['H', 'W_away', 'GF_away', 'GA_away', 'GD_away']) # Drop redundant columns
    # Append home & away games to appropriate lists
    homes.append(home)
    aways.append(away)

ADO Den Haag
AZ Alkmaar
Ajax
Almere City

KeyError: False

In [49]:
df

,Date,Team,Opp,H,W,GF,GA,GD,PTS%,W_1,...,GA_5,GA_10,GA_inf,GD_1,GD_2,GD_5,GD_10,GD_inf,Rest,Game
0,2021-05-15,Almere City,NEC Nijmegen,True,-1,0,4,-4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [14]:
from bs4 import BeautifulSoup

In [17]:
import requests
import pandas as pd

In [19]:
data

          Date            Home            Away Score
0   2022-07-22  Standard Liège            Gent   2–2
1   2022-07-23       Charleroi           Eupen   3–1
2   2022-07-23        Kortrijk       OH Leuven   0–2
3   2022-07-23   Zulte Waregem  R.F.C. Seraing   2–0
4   2022-07-23    Sint-Truiden        Union SG   1–1
..         ...             ...             ...   ...
365 2023-05-28     Club Brugge            Genk   NaN
367 2023-06-03            Gent  Standard Liège   NaN
368 2023-06-03   Cercle Brugge        Westerlo   NaN
369 2023-06-04        Union SG     Club Brugge   NaN
370 2023-06-04            Genk         Antwerp   NaN

[328 rows x 4 columns]

In [52]:
import os
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '3'
from search_engine import search
from scraping import scraper
from datetime import datetime, timedelta
from train import training, loading
import numpy as np
import pandas as pd

print('\n')
# PART 1 :   Ask the user for a competition
query = input('Enter competition :   \n\t')
comp, flag = search(query)
print('\n')


if flag :

    st, code, name, country = comp['First Season'][0], comp['CODE'][0], comp['Competition'][0], comp['Country'][0]
    # PART 2 :   Scrape games to be played in the next week
    season = 2023
    print('Scraping next few games ...')
    Scraper = scraper(years = [season], code = code)
    games = Scraper.fit(verbose = False)
    # Keep games yet to be played between now and a week later
    now, then = datetime.today().strftime('%Y-%m-%d'), datetime.now() + timedelta(days = 7)
    games = games[(games['Date'] >= now) & (games['Date'] <= then)]
    games = games[(games['Result'].isna()) & (games['PTS%'].notna())]
    games = games[['Date', 'Home', 'Away'] + Scraper.features].reset_index(drop = True)

    # Stop if there are no games scheduled in the upcoming week
    if len(games) == 0 :
        print(f'No {name} ({country}) games scheduled in the next week ...')


    # PART 3 :   Predict the results of the upcoming games
    else :

        try :     # Try loading the model of the competition
            model = loading(code)

        except :  # If the model doesn't yet exist, train one and save it
            model = training(code, st)

        # Predict the result of the upcoming games and append the results to the dataframe
        X_pred = games[Scraper.features]
        preds = model.predict(X_pred, verbose = 0)
        games['PRED.'] = list(pd.Series(np.argmax(preds, axis = 1)).replace(0, 'HOME').replace(1, 'DRAW').replace(2, 'AWAY'))
        games[['HOME_W', 'DRAW', 'AWAY_W']] = np.round(preds / preds.sum(axis = 1)[:, None], 2)
        games = games[['Date', 'Home', 'Away', 'PRED.', 'HOME_W', 'DRAW', 'AWAY_W']].rename(columns = {'Date':'DATE', 'Home':'HOME', 'Away':'AWAY'}).set_index('DATE')

        # Print the results
        print('\n')
        print(f'{name.upper()} ({country.upper()}) PREDICTIONS ({games.index.min().strftime("%d %b")} - {games.index.max().strftime("%d %b")})\n')
        print(games)
        print('\n\n')

Scraping next few games ...
Loading neural network model ...


ARGENTINE PRIMERA DIVISIÓN (ARG) PREDICTIONS (30 Apr - 07 May)

                        HOME                                AWAY PRED.  \
DATE
2023-04-30          Talleres                        Rosario Cent  HOME
2023-04-30    Defensa y Just                               Colón  HOME
2023-04-30          CA Unión                               Lanús  HOME
2023-04-30     Independiente              Club Atlético Belgrano  HOME
2023-05-07             Tigre                         Newell's OB  HOME
2023-05-07        CC Córdoba                           Sarmiento  HOME
2023-05-07       Estudiantes                         Vélez Sarsf  HOME
2023-05-07           Arsenal                        Gimnasia ELP  HOME
2023-05-07       River Plate                        Boca Juniors  HOME
2023-05-07  Barracas Central  Instituto Atlético Central Córdoba  HOME

            HOME_W  DRAW  AWAY_W
DATE
2023-04-30     NaN   NaN     NaN
2023-04-30     NaN   NaN     NaN
2023-04-30     NaN   NaN     NaN
2023-04-30     NaN   NaN     NaN
2023-05-07     NaN   NaN     NaN
2023-05-07     NaN   NaN     NaN
2023-05-07     NaN   NaN     NaN
2023-05-07     NaN   NaN     NaN
2023-05-07     NaN   NaN     NaN
2023-05-07     NaN   NaN     NaN

In [119]:
train = pd.read_csv('training_data/TRAINING_DATA_COMP21.csv')

In [120]:
# Clean training data -- at least 5 games played in the season + no games from COVID-19 1st lockdown
train = train[(train['Game_home'] > 4) & (train['Game_away'] > 4) & (train['Rest'].abs() <= 40)]

In [69]:
train.sort_values('Date')

,Unnamed: 0,Date,Season,Game_home,Game_away,Home,Away,Result,G_home,G_away,...,GA_inf,GD_1,GD_2,GD_5,GD_10,GD_inf,Rest,Draw,Loss,Win
60,60,2016-09-30,2017,5,5,Quilmes,Club Olimpo,1.0,2.0,1.0,...,1.500000,-6.0,-3.0,-1.5,-1.5,-1.500000,-2.0,0,0,1
61,61,2016-09-30,2017,5,5,Godoy Cruz,CA Unión,1.0,2.0,1.0,...,1.000000,-1.0,-1.0,-1.0,-1.0,-1.000000,2.0,0,0,1
62,62,2016-10-01,2017,5,5,River Plate,Vélez Sarsf,1.0,3.0,0.0,...,-0.500000,3.0,2.0,2.0,2.0,2.000000,-1.0,0,0,1
63,63,2016-10-01,2017,5,5,Rosario Cent,Arsenal,1.0,5.0,0.0,...,-1.000000,0.0,0.5,0.5,0.5,0.500000,2.0,0,0,1
64,64,2016-10-01,2017,5,5,Aldosivi,Talleres,1.0,2.0,1.0,...,0.500000,0.0,-0.5,-0.5,-0.5,-0.500000,0.0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2907,2907,2023-07-30,2015,27,27,River Plate,Racing Club,NaN,NaN,NaN,...,-0.928571,NaN,NaN,NaN,NaN,1.500000,0.0,0,0,0
2908,2908,2023-07-30,2016,27,27,Arsenal,Colón,NaN,NaN,NaN,...,0.423077,NaN,NaN,NaN,NaN,-0.489011,0.0,0,0,0
2909,2909,2023-07-30,2016,27,27,CA Huracán,Vélez Sarsf,NaN,NaN,NaN,...,0.428571,NaN,NaN,NaN,NaN,-0.500000,0.0,0,0,0
2911,2911,2023-07-30,2016,27,27,Newell's OB,Talleres,NaN,NaN,NaN,...,0.010989,NaN,NaN,NaN,NaN,-0.835165,0.0,0,0,0
2940,2940,2023-07-30,2022,27,27,Godoy Cruz,Instituto Atlético Central Córdoba,NaN,NaN,NaN,...,0.142857,NaN,NaN,NaN,NaN,0.214286,0.0,0,0,0

In [80]:
'hi' * False

''

In [92]:
year = 2022
acyear = True

In [93]:
f'{year-1}-' * acyear + str(year)

'2021-2022'

In [123]:
idx = np.array([f in features for f in train.columns])

In [124]:
train = np.array(train)

In [125]:
train[:,idx]

array([[-0.25, -2.0, -1.0, ..., -1.5, -1.5, -2.0],
       [-0.25, 0.0, -0.5, ..., -1.0, -1.0, 2.0],
       [0.4166666666666666, 1.0, 1.0, ..., 2.0, 2.0, -1.0],
       ...,
       [nan, nan, nan, ..., nan, -0.5, 0.0],
       [nan, nan, nan, ..., nan, -0.489010989010989, 0.0],
       [nan, nan, nan, ..., nan, 0.2142857142857142, 0.0]], dtype=object)

In [105]:
import smtplib
from email.mime.text import MIMEText




# Specify the email contents
mail = MIMEText(comps)

# Set my email address and the password key
my_mail  = 'martinbog19@gmail.com'
with open('gmail_key.txt') as f:
    password = f.read()
# Set the subject of the email
mail['Subject'] = subject



html = """\
<html>
<head></head>
<body>
    {0}
</body>
</html>
""".format(df_test.to_html())

part1 = MIMEText(html, 'html')
msg.attach(part1)

server = smtplib.SMTP('smtp.gmail.com', 587)
server.sendmail(msg['From'], emaillist , msg.as_string())



# Connect to the Gmail SMTP server & log in
server = smtplib.SMTP('smtp.gmail.com', 587)
server.starttls()
server.login(my_mail, password)

# Send the email (to myself)
server.sendmail(my_mail, my_mail, mail.as_string())
q = server.quit()

['PTS%',
 'W_1',
 'W_2',
 'W_5',
 'W_10',
 'W_inf',
 'GF_1',
 'GF_2',
 'GF_5',
 'GF_10',
 'GF_inf',
 'GA_1',
 'GA_2',
 'GA_5',
 'GA_10',
 'GA_inf',
 'GD_1',
 'GD_2',
 'GD_5',
 'GD_10',
 'GD_inf',
 'Rest']

In [23]:
from email.mime.text import MIMEText
from email.mime.application import MIMEApplication
from email.mime.multipart import MIMEMultipart
from smtplib import SMTP
import smtplib
import sys

msg = MIMEMultipart()
msg['Subject'] = "Your Subject"


body = """\
<html><head></head><body>{0}</body></html>
""".format(build_table(comps, 'blue_light'))

In [9]:
part1 = MIMEText(html, 'html')
msg.attach(part1)

In [25]:
# Specify the email contents
mail = MIMEMultipart()

# Set my email address and the password key
my_mail  = 'martinbog19@gmail.com'
with open('gmail_key.txt') as f:
    password = f.read()
# Set the subject of the email
mail['Subject'] = 'subject'

part1 = MIMEText(body, 'html')
mail.attach(part1)

# Connect to the Gmail SMTP server & log in
server = smtplib.SMTP('smtp.gmail.com', 587)
server.starttls()
server.login(my_mail, password)

# Send the email (to myself)
server.sendmail(my_mail, my_mail, mail.as_string())
q = server.quit()

In [16]:
html

'<html><head></head><body><table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Competition</th>\n      <th>title</th>\n      <th>Country</th>\n      <th>First Season</th>\n      <th>acyear</th>\n      <th>CODE</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Argentine Primera División</td>\n      <td>ARG argentine primera división</td>\n      <td>ARG</td>\n      <td>2014</td>\n      <td>False</td>\n      <td>21</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>A-League Men</td>\n      <td>AUS a-league men</td>\n      <td>AUS</td>\n      <td>2006</td>\n      <td>True</td>\n      <td>65</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Austrian Football Bundesliga</td>\n      <td>AUT austrian football bundesliga</td>\n      <td>AUT</td>\n      <td>2004</td>\n      <td>True</td>\n      <td>56</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Belgian First Division A</td>\n      <td>BEL belgian first division a</td>\n      <td>BEL</td>\n      <td>2004</td>\n      <td>True</td>\n      <td>37</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>División de Fútbol Profesional</td>\n      <td>BOL división de fútbol profesional</td>\n      <td>BOL</td>\n      <td>2015</td>\n      <td>True</td>\n      <td>74</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Campeonato Brasileiro Série A</td>\n      <td>BRA campeonato brasileiro série a</td>\n      <td>BRA</td>\n      <td>2014</td>\n      <td>False</td>\n      <td>24</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>First Professional Football League</td>\n      <td>BUL first professional football league</td>\n      <td>BUL</td>\n      <td>2010</td>\n      <td>True</td>\n      <td>67</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>Canadian Premier League</td>\n      <td>CAN canadian premier league</td>\n      <td>CAN</td>\n      <td>2019</td>\n      <td>False</td>\n      <td>211</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Chilean Primera División</td>\n      <td>CHI chilean primera división</td>\n      <td>CHI</td>\n      <td>2015</td>\n      <td>True</td>\n      <td>35</td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td>Chinese Football Association Super League</td>\n      <td>CHN chinese football association super league</td>\n      <td>CHN</td>\n      <td>2014</td>\n      <td>False</td>\n      <td>62</td>\n    </tr>\n    <tr>\n      <th>10</th>\n      <td>Categoría Primera A</td>\n      <td>COL categoría primera a</td>\n      <td>COL</td>\n      <td>2014</td>\n      <td>False</td>\n      <td>41</td>\n    </tr>\n    <tr>\n      <th>11</th>\n      <td>Croatian First Football League</td>\n      <td>CRO croatian first football league</td>\n      <td>CRO</td>\n      <td>2008</td>\n      <td>True</td>\n      <td>63</td>\n    </tr>\n    <tr>\n      <th>12</th>\n      <td>Czech First League</td>\n      <td>CZE czech first league</td>\n      <td>CZE</td>\n      <td>2010</td>\n      <td>True</td>\n      <td>66</td>\n    </tr>\n    <tr>\n      <th>13</th>\n      <td>Superliga</td>\n      <td>DEN superliga</td>\n      <td>DEN</td>\n      <td>2004</td>\n      <td>True</td>\n      <td>50</td>\n    </tr>\n    <tr>\n      <th>14</th>\n      <td>Liga Profesional Ecuador</td>\n      <td>ECU liga profesional ecuador</td>\n      <td>ECU</td>\n      <td>2014</td>\n      <td>False</td>\n      <td>58</td>\n    </tr>\n    <tr>\n      <th>15</th>\n      <td>Premier League</td>\n      <td>ENG premier league</td>\n      <td>ENG</td>\n      <td>1889</td>\n      <td>True</td>\n      <td>9</td>\n    </tr>\n    <tr>\n      <th>16</th>\n      <td>La Liga</td>\n      <td>ESP la liga</td>\n      <td>ESP</td>\n      <td>1989</td>\n      <td>True</td>\n      <td>12</td>\n    </tr>\n    <tr>\n      <th>17</th>\n      <td>Veikkausliiga</td>\n      <td>FIN veikkausliiga</td>\n      <td>FIN</td>\n      <td>2003</td>\n      <td>False</td>\n      <td>43</td>\n    </tr>\n    <tr>\n      <th>18</th>\n      <td>Ligue 1</td>\n      <td>FRA ligue 1</td>\n      <td>FRA</td>\n      <td>1996</td>\n      <td>True</td>\n      <td>13</td>\n    </tr>\n    <tr>\n      <th>19</th>\n      <td>Fußball-Bundesliga</td>\n      <td>GER fußball-bundesliga</td>\n      <td>GER</td>\n      <td>1989</td>\n      <td>True</td>\n      <td>20</td>\n    </tr>\n    <tr>\n      <th>20</th>\n      <td>Super League Greece</td>\n      <td>GRE super league greece</td>\n      <td>GRE</td>\n      <td>2001</td>\n      <td>True</td>\n      <td>27</td>\n    </tr>\n    <tr>\n      <th>21</th>\n      <td>Nemzeti Bajnokság I</td>\n      <td>HUN nemzeti bajnokság i</td>\n      <td>HUN</td>\n      <td>2006</td>\n      <td>True</td>\n      <td>46</td>\n    </tr>\n    <tr>\n      <th>22</th>\n      <td>Indian I-League</td>\n      <td>IND indian i-league</td>\n      <td>IND</td>\n      <td>2014</td>\n      <td>True</td>\n      <td>378</td>\n    </tr>\n    <tr>\n      <th>23</th>\n      <td>Indian Super League</td>\n      <td>IND indian super league</td>\n      <td>IND</td>\n      <td>2014</td>\n      <td>False</td>\n      <td>82</td>\n    </tr>\n    <tr>\n      <th>24</th>\n      <td>Persian Gulf Pro League</td>\n      <td>IRN persian gulf pro league</td>\n      <td>IRN</td>\n      <td>2015</td>\n      <td>True</td>\n      <td>64</td>\n    </tr>\n    <tr>\n      <th>25</th>\n      <td>Serie A</td>\n      <td>ITA serie a</td>\n      <td>ITA</td>\n      <td>1989</td>\n      <td>True</td>\n      <td>11</td>\n    </tr>\n    <tr>\n      <th>26</th>\n      <td>J1 League</td>\n      <td>JPN j1 league</td>\n      <td>JPN</td>\n      <td>2014</td>\n      <td>False</td>\n      <td>25</td>\n    </tr>\n    <tr>\n      <th>27</th>\n      <td>K League 1</td>\n      <td>KOR k league 1</td>\n      <td>KOR</td>\n      <td>2014</td>\n      <td>False</td>\n      <td>55</td>\n    </tr>\n    <tr>\n      <th>28</th>\n      <td>Saudi Professional League</td>\n      <td>KSA saudi professional league</td>\n      <td>KSA</td>\n      <td>2015</td>\n      <td>True</td>\n      <td>70</td>\n    </tr>\n    <tr>\n      <th>29</th>\n      <td>Liga MX</td>\n      <td>MEX liga mx</td>\n      <td>MEX</td>\n      <td>2004</td>\n      <td>True</td>\n      <td>31</td>\n    </tr>\n    <tr>\n      <th>30</th>\n      <td>Eredivisie</td>\n      <td>NED eredivisie</td>\n      <td>NED</td>\n      <td>2001</td>\n      <td>True</td>\n      <td>23</td>\n    </tr>\n    <tr>\n      <th>31</th>\n      <td>Eliteserien</td>\n      <td>NOR eliteserien</td>\n      <td>NOR</td>\n      <td>2000</td>\n      <td>False</td>\n      <td>28</td>\n    </tr>\n    <tr>\n      <th>32</th>\n      <td>Paraguayan Primera División</td>\n      <td>PAR paraguayan primera división</td>\n      <td>PAR</td>\n      <td>2014</td>\n      <td>False</td>\n      <td>61</td>\n    </tr>\n    <tr>\n      <th>33</th>\n      <td>Liga 1 de Fútbol Profesional</td>\n      <td>PER liga 1 de fútbol profesional</td>\n      <td>PER</td>\n      <td>2014</td>\n      <td>False</td>\n      <td>44</td>\n    </tr>\n    <tr>\n      <th>34</th>\n      <td>Ekstraklasa</td>\n      <td>POL ekstraklasa</td>\n      <td>POL</td>\n      <td>2003</td>\n      <td>True</td>\n      <td>36</td>\n    </tr>\n    <tr>\n      <th>35</th>\n      <td>Primeira Liga</td>\n      <td>POR primeira liga</td>\n      <td>POR</td>\n      <td>2001</td>\n      <td>True</td>\n      <td>32</td>\n    </tr>\n    <tr>\n      <th>36</th>\n      <td>Liga I</td>\n      <td>ROU liga i</td>\n      <td>ROU</td>\n      <td>2007</td>\n      <td>True</td>\n      <td>47</td>\n    </tr>\n    <tr>\n      <th>37</th>\n      <td>South African Premier Division</td>\n      <td>RSA south african premier division</td>\n      <td>RSA</td>\n      <td>2015</td>\n      <td>True</td>\n      <td>52</td>\n    </tr>\n    <tr>\n      <th>38</th>\n      <td>Russian Premier League</td>\n      <td>RUS russian premier league</td>\n      <td>RUS</td>\n      <td>2001</td>\n      <td>False</td>\n      <td>30</td>\n    </tr>\n    <tr>\n      <th>39</th>\n      <td>Scottish Premiership</td>\n      <td>SCO scottish premiership</td>\n      <td>SCO</td>\n      <td>2001</td>\n      <td>True</td>\n      <td>40</td>\n    </tr>\n    <tr>\n      <th>40</th>\n      <td>Serbian SuperLiga</td>\n      <td>SRB serbian superliga</td>\n      <td>SRB</td>\n      <td>2009</td>\n      <td>True</td>\n      <td>54</td>\n    </tr>\n    <tr>\n      <th>41</th>\n      <td>Swiss Super League</td>\n      <td>SUI swiss super league</td>\n      <td>SUI</td>\n      <td>2004</td>\n      <td>True</td>\n      <td>57</td>\n    </tr>\n    <tr>\n      <th>42</th>\n      <td>Allsvenskan</td>\n      <td>SWE allsvenskan</td>\n      <td>SWE</td>\n      <td>2001</td>\n      <td>False</td>\n      <td>29</td>\n    </tr>\n    <tr>\n      <th>43</th>\n      <td>Süper Lig</td>\n      <td>TUR süper lig</td>\n      <td>TUR</td>\n      <td>2002</td>\n      <td>True</td>\n      <td>26</td>\n    </tr>\n    <tr>\n      <th>44</th>\n      <td>Ukrainian Premier League</td>\n      <td>UKR ukrainian premier league</td>\n      <td>UKR</td>\n      <td>2004</td>\n      <td>True</td>\n      <td>39</td>\n    </tr>\n    <tr>\n      <th>45</th>\n      <td>Uruguayan Primera División</td>\n      <td>URU uruguayan primera división</td>\n      <td>URU</td>\n      <td>2015</td>\n      <td>True</td>\n      <td>45</td>\n    </tr>\n    <tr>\n      <th>46</th>\n      <td>Major League Soccer</td>\n      <td>USA major league soccer</td>\n      <td>USA</td>\n      <td>1996</td>\n      <td>False</td>\n      <td>22</td>\n    </tr>\n    <tr>\n      <th>47</th>\n      <td>Venezuelan Primera División</td>\n      <td>VEN venezuelan primera división</td>\n      <td>VEN</td>\n      <td>2015</td>\n      <td>True</td>\n      <td>105</td>\n    </tr>\n  </tbody>\n</table></body></html>\n'

In [20]:
from pretty_html_table import build_table