In [1]:
# Packages
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [15]:
# Make a map of league number code to league name
url = f'https://fbref.com/en/comps/0/history/'
page = requests.get(url)
#header = page.text.split('</h1>')[0].split('<h1>')[-1]
#' '.join(header.split('Seasons')[0].split('\t')[-1].split())
soup = BeautifulSoup(page.content, 'lxml')
while soup.find('tr', class_='thead') is not None:
    soup.find('tr', class_='thead').decompose()
table = soup.find('table', id = 'comps_1_fa_club_league_senior')
comps = pd.read_html(str(table))[0]
comps['CODE'] = [int(x['href'].split('/')[3]) for x in list(table.find_all('a', href = True)) if 'comps' in x['href']][0::3]
comps = comps.groupby('Gender').get_group('M')
comps['Country'] = comps['Country'].apply(lambda x: x.split()[-1])
comps['First Season'] = comps['First Season'].apply(lambda x: x[-4:]).astype(int)
comps = comps.rename(columns = {'Competition Name': 'Competition'}).reset_index(drop = True)
comps = comps[['Competition', 'Country', 'First Season', 'CODE']]
comps['title'] = comps['Country'] + ' ' + comps['Competition'].apply(lambda x: x.lower())
comps = comps[['Competition', 'title', 'Country', 'First Season', 'CODE']]
#comps.to_csv('competitions.csv', index = None)

In [2]:
from scraping import scraper

In [25]:
Scraper = scraper([2023], 105)
Scraper.fit()

,Date,Season,Game_home,Game_away,Home,Away,Result,G_home,G_away,PTS%,...,GA_inf,GD_1,GD_2,GD_5,GD_10,GD_inf,Rest,Draw,Loss,Win
0,2023-02-03,2023,1,1,Caracas,Carabobo,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0
1,2023-02-03,2023,1,1,Zamora,CD Hermanos Colmenarez,1.0,2.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1
2,2023-02-04,2023,1,1,Dep La Guaira,Monagas,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0
3,2023-02-04,2023,1,1,Angostura Fútbol Club,Mineros,1.0,2.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1
4,2023-02-05,2023,1,1,Metropolitanos,Universidad Central de Venezuela FC,0.0,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,2023-09-29,2023,27,28,Deportivo Rayo Zuliano,Acad Pr Cabello,NaN,NaN,NaN,NaN,...,1.600000,NaN,NaN,NaN,NaN,-2.300000,0.0,0,0,0
205,2023-09-29,2023,28,28,Mineros,Angostura Fútbol Club,NaN,NaN,NaN,NaN,...,0.718182,NaN,NaN,NaN,NaN,-1.300000,0.0,0,0,0
206,2023-09-29,2023,28,28,Monagas,Dep La Guaira,NaN,NaN,NaN,NaN,...,0.181818,NaN,NaN,NaN,NaN,0.000000,0.0,0,0,0
207,2023-09-29,2023,28,27,CD Hermanos Colmenarez,Zamora,NaN,NaN,NaN,NaN,...,-0.555556,NaN,NaN,NaN,NaN,0.555556,0.0,0,0,0
208,2023-09-29,2023,28,28,Carabobo,Caracas,NaN,NaN,NaN,NaN,...,-0.190909,NaN,NaN,NaN,NaN,-0.227273,0.0,0,0,0

In [21]:
from search_engine import search


a, b = search('Eng')

In [24]:
a

      Competition               title Country  First Season  CODE  similarity
0  Premier League  ENG premier league     ENG          1889     9    0.753721

In [27]:
a['CODE'][0]

9

In [28]:
import time

for i in range(10):
    print(f"Counting: {i}", end="\r")
    time.sleep(1)